<%= render 'layouts/header' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Risks with High Probability & High Impact</h3>
  </div>
  <div class="panel-body">
    Place Risks here.....
  </div>
</div>