<%= render 'layouts/header', title: "New Risk" %>
<div class="row">
    <div class="col-md-8">
        <%= render 'form' %>
        <%= link_to 'Back', project_risk_registers_path(@project) %>
    </div>
</div>
        