<p>A new risk has been added and your approval is required. Please visit NEEPCO Risk Management site and give the necessary approval.</p>
<div>
    <strong>Risk No:</strong> <%= @risk.risk_no %>.<br>
    <strong>Category:</strong> <%= append_category_names(@risk.categories) %><br>
    <strong>Impact:</strong> <%= @risk.impact %><br>
    <strong>Probability:</strong> <%= @risk.probability %>
</div>