// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.danger-status, .danger-status a {
    background: #f39c12;
    color: #fff;
}
.warning-status, .warning-status a {
    background: #5499C7 ;
    color: #fff;
}

.critical-status, .critical-status a {
    background: #c0392b;
    color: #fff;
}

.default-status, .default-status a {
    color: #222;
}

.warning-status a:hover, .danger-status a:hover, .critical-status a:hover, .default-status a:hover {
    text-decoration: none;
    color: #2c3e50;
}

#status-label li {
    font-size: 12px;
    padding: 4px 10px; 
    border-radius: 3px;
}

#status-label {
    .danger-info {
        background: #f39c12;
        color: white;
    }
    .warning-info {
        background: #5499C7 ;
        color: white;
    }
    .critical-info {
        background: #c0392b;
        color: white;
    }
}

#dashboard_risk_panel{
    .panel-heading {
		padding-top: 5px;
		font-weight: 500;
		padding-bottom: 5px;
	}
	.panel-body {
		padding-top: 12px;
		padding-bottom: 5px;
	}
}

#dashboard-icon {
    .huge {
        font-size: 40px;
    }
    .panel-green {
        border-color: #5cb85c;
    }
    
    .panel-green > .panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
    }
    
    .panel-green > a {
        color: #5cb85c;
    }
    
    .panel-green > a:hover {
        color: #3d8b3d;
    }
    
    .panel-red {
        border-color: #d9534f;
    }
    
    .panel-red > .panel-heading {
        border-color: #d9534f;
        color: #fff;
        background-color: #d9534f;
    }
    
    .panel-red > a {
        color: #d9534f;
    }
    
    .panel-red > a:hover {
        color: #b52b27;
    }
    .panel-yellow {
        border-color: #f0ad4e;
    }

    .panel-yellow > .panel-heading {
        border-color: #f0ad4e;
        color: #fff;
        background-color: #f0ad4e;
    }

    .panel-yellow > a {
        color: #f0ad4e;
    }

    .panel-yellow > a:hover {
        color: #df8a13;
    }
}

#dashboard-report {
    a {
        font-family: 'PT Serif', serif;
        color: #c0392b;
        font-weight: 500;
        text-decoration: none;
    }
}