// Place all the styles related to the RiskMitigations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.completed {
    background: #2ecc71;
}

.pending {
    background: #e74c3c;
}

#button-row {
    margin-bottom: 15px;
}

#mitigation-actions {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}