body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.block_label {
  display: block;
}

.btn-action {
	padding: 1px 3px;
	margin-left: 5px;
	font-size: 12px;
	font-family: cursive;
}
