.container {
    margin-top: 60px;
}

#flash-msg {
    margin-bottom: 7px;
}

.pagination {
    margin: 10px;    
}

#header-breadcrumb {
    padding-top: 0px;
    padding-bottom: 0px;
    
    .page-header {
        margin-top: 5px;
        padding-top: 0px;
        font-size: 25px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .breadcrumb {
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#nav-header {
    margin-top: 10px;
    .nav a {
    	font-weight: bold;
    	font-size: 13px;
    }
}

.table {
    font-size: 13px;
}

#general_info {
	margin-top: 5px;
	font-family: 'PT Serif', serif;
	
	ol {
		padding-left: 15px;
		li {
			padding-left: 15px;
		}
	}
	.name {
		font-weight: 600;
		color: #222;
		font-size: 13px;
	}
	.panel-heading {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.panel-body {
		padding-top: 5px;
		padding-bottom: 8px;
	}
	.risk_detail {
		.panel-body{
			padding-top: 7px;
		}
		.row {
			margin-bottom: 5px;
		}
	}
	.label {
		font-size: 11px;
		font-weight: 300;
	}
}

#print-icon {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	a {
		text-decoration: none;
		color: #000;
	}
}

#nav-head {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 15px;
}

.btn-sm {
	font-weight: 600;
}