<div class="row" id="header-breadcrumb">
  <div class="col-md-12">
      <h2 class="page-header">
        <% if controller.controller_name == 'dashboard' %>
          Dashboard
        <% else %>
          <%= title %>
        <% end %>
      </h2>
      <ol class="breadcrumb">
          <li>
              <i class="fa fa-dashboard"></i> <a href="<%= root_path %>">Dashboard</a>
          </li>
          <% if controller.controller_name != 'dashboard' %>
            <li class="active">
                <i class="fa fa-wrench"></i> <%= title %>
            </li>
          <% end %>
      </ol>
  </div>
</div>
